html,
body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: whitesmoke;
    font-family: 'Courier';
    font-size: 5pt;
    letter-spacing: 1pt;
    line-height: 5pt;
}



canvas {
    display: block;
}